imageproc/target/*
raytracer/target/*
webserver/target/*
javassist-wrapper/target/*
load-balancer/target/*
scripts/tmp/*
scripts/output/*
aws-infra-scripts/private/*
aws-infra-scripts/state/*
.vscode
logs
instrumented
.idea